body{
    margin: 0;
    padding: 0;
    font-family: 'Mansalva', cursive;
}

.zoom{
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
    background: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.zoom::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 1000;
    background: linear-gradient(transparent, #fff);
}

#layer1{
    position: absolute;
    left: 40%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 10;
}

#layer2{
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 9;
}

#text{
    position: absolute;
    right: 0;
    width: 100%;
    transform: translateY(50%);
}

.content{
    padding: 100px;
    text-align: center;
    box-sizing: border-box;
}

.content h2{
    margin: 0;
    padding: 0;
    font-size: 4em;
}

.content p{
    font-size: 1.2em;
}